<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.lulebe.interviewer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".InterviewActivity"
            android:label="@string/app_name"
            android:parentActivityName=".OverviewActivity" />
        <activity
            android:name=".CreateQuestionActivity"
            android:label="@string/title_createquestion"
            android:parentActivityName=".InterviewActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".OverviewActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateInterviewActivity"
            android:label="@string/title_activity_create_interview"
            android:parentActivityName=".OverviewActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SingleAnswerActivity"
            android:parentActivityName=".InterviewActivity"/>
        <activity android:name=".QuestionActivity"
            android:parentActivityName=".InterviewActivity"/>
    </application>

</manifest>